
484Proj/.vs/484Proj/v15/Server/sqlite3/db.lock
484Proj/.vs/484Proj/v15/.suo
*.lock
.vs/484FinalProject/v15/.suo
.vs/484FinalProject/v15/Server/sqlite3/storage.ide-shm
.vs/484FinalProject/v15/Server/sqlite3/storage.ide-wal
.vs/484FinalProject/v15/.suo
.vs/484FinalProject/v15/Server/sqlite3/storage.ide
.vs/484FinalProject/v15/Server/sqlite3/storage.ide-shm
.vs/484FinalProject/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
.vs/484FinalProject/v15/.suo
.vs/CuedInWebsite/v15/.suo
.vs/CuedInWebsite/v15/Server/sqlite3/storage.ide
.vs/CuedInWebsite/v15/Server/sqlite3/storage.ide-shm
.vs/CuedInWebsite/v15/Server/sqlite3/storage.ide-wal
CUED-IN_website3/.vs/CUED-IN_website3/v15/.suo
CUED-IN_website3/.vs/CUED-IN_website3/v15/Server/sqlite3/storage.ide
CUED-IN_website3/.vs/CUED-IN_website3/v15/Server/sqlite3/storage.ide-shm
CUED-IN_website3/.vs/CUED-IN_website3/v15/Server/sqlite3/storage.ide-wal
CUED-IN_website3/.vs/config/applicationhost.config
